
.card {
   display: flex;
   margin-top: 2rem;
   /* border-bottom: 2px solid black; */
}

.container {
   margin-left: 2rem;
}

.img1 {
   max-width: 250px;
   max-height: 250px;
   border-radius: 20px;
}

.author {
   font-size: 1.5rem;
   font-weight: 600;
}
